@use "../../styles/resets.scss" as *;

.background{
    background-size: 28px 28px;
    background-image:
      linear-gradient(to right, rgb(196, 196, 196)  1px, transparent 1px),
      radial-gradient(circle at 1px 1px, black 1px, transparent 0);
    margin: 0 3rem 0 3rem;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 3rem;
    padding-top: 6rem;
   
}

.container-large{
    width: 72%;
    height: 54rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 2rem;
}
.container-small{
    width: 22%;
    height:54rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}


.row-3items{
    display: flex;
    height: 40%;
    gap: 2.5rem;
    width: 100%;

}

.row-2items{
    display:flex;
    height: 60%;
    gap: 2.5rem;

}

.column-2items{
    width: 45%;
    display:flex;
    flex-direction: column;
    gap: 2.5rem;
}

.column-4items{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    
    &__small-card{
        background-color: #fff;
        height: 14rem;
    }
}

// .blurred{
//     filter: blur(4px) grayscale(80%) opacity(50%);
//     transition: filter 3s;
//     cursor: pointer;
// }

// .blurred2{
//     border: 20px solid white;
//     border-radius: 20px;
//     filter: blur(2px);
// }

// .default{
//   filter: none;
//   cursor: pointer;
// }
