@use "../../styles/typography.scss";

.searchbar{
    padding-left: 1.5rem;
    height: 3rem;
    width: 44rem;
    border-radius: 12px;
    border: 1px solid #000000;
    background-color: #ffffffee;
    font-family: 'Stellar-light';
    font-size: 1.25rem;
    
}