@use "../../styles/typography.scss";

.searchbar{
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 32rem;
    border-radius: 18px;
    border: 1px solid #4c4c4c;
    background-color: #fff;
    font-family: 'Stellar-light';
    font-size: 1.25rem;
}