@use "../../styles/typography.scss";

.searchbar{
    padding-left: 1.5rem;
    width: 32rem;
    border-radius: 18px;
    border: 1px dotted #4c4c4c;
    background-color: #ffffffee;
    font-family: 'Stellar-light';
    font-size: 1.25rem;
}