@use "../../styles/typography.scss";

.nav{
    padding: 1.5rem 3rem 0 3rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 5;

    &__container-right{
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    &__counter{
        font-family: 'Stellar-light';
        font-size: 1.75rem;
        font-weight: 600;
    }
    
}

.button{
    background-color: #f7a619;
    border-radius: 18px;
    padding-right: 2rem;
    padding-left: 2rem;
    height: 2.75rem;
    border: 2px dotted #000000;
    font-family: 'Stellar-light';
    font-size: 1.25rem;
}

