@use "../../styles/typography.scss";

.nav{
    padding: 1.5rem 0 0 3rem;
    position: fixed;
    display: flex;
    justify-content: right;
    width: 100%;
    gap: 1.5rem;
    z-index: 2;

    &__container-right{
        display: flex;
        gap: 2rem;
        align-items: center;
        margin-right: 4rem;
    }

    &__counter{
        font-family: 'Right Grotesk Mono';
        font-size: 1.25rem;
        font-weight: 600;
    }
    
}

.button{
    background-color: #ecde16;
    border-radius: 12px;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    height: 2.75rem;
    border: 1px solid #000000;
    font-family: 'Right Grotesk Mono';
    font-size: 1.25rem;
}

.button:hover{
    background-color: #ffee00;
}

